/* 
    navigation 
*/
#navigation {
    background-color: #5E7FCC;
    width: 100%;
    top: 4em;
    height: auto;
    position: fixed;
    left: 0;
    text-align: center;
    z-index: 100;
}
#navigation .headerContent {
    padding: 0.3em 0;
}
#navigation > div > div {
    display: inline-block;
    width: 10em;
    padding: 0.4em 0;
}
.showDropdown {
    display: block;
    background-color: #5E7FCC;
    position: absolute;
    top: 2.2em;
    left: 0;
    min-width: 14.7em; 
    border: 2px solid #000;
    border-top-style: none;
    text-align: left;
    padding: 8px;
}
.showDropdown label, .showDropdown input, .showDropdown select, .showDropdown span {
    margin: 3px 0;
}
.showDropdown label, #addWordCategory {
    float: left;
    width: 5em;
    margin-bottom: 0;
}
.showDropdown input[type=text], .showDropdown select {
    width: 13.1em;
}
#subject {
    font-weight: bold;
    font-style: oblique;
}
#addWordDropdown {
    min-width: 16.3em;
}
#addWordMemopal {
    display: block;
    text-align: center;
    margin-top: 0.5em;
}
#addWordMemopalAndPlace {
    margin-left: 0.5em;
    margin-bottom: 0.5em;
}
#chooseMemopal, #addWordMemopalAndPlacePlaces {
    width: 9em;
}
#addWordDropdown textarea {
    width: 15.8em;
    height: 10em;
    margin-top: 0.5em;
    font-size: 100%;
    line-height: 1em;
}
#addCategoryLabel {
    width: 3.4em;
}
#memopalsDropdown {
    min-width: 17em;
    max-height: 30em;
    overflow: auto;
    overflow-x: hidden;
    padding: 0;
}
#addMemopal {
    display: block;
    padding: 1em 0em 0.5em 0.5em;
}
.activeAddMemopal {
    background-color: #3A518A;
}
#addMemopalDropdown {
    min-width: 16.5em;
    padding: 0.5em 0;
    background-color: #3A518A;
    padding-left: 1em;
}
#addMemopalForm {
    margin-right: 0em;
}
#addMemopalLabel {
    width: 3.5em;
}
#addMemopalForm span {
    margin: 1em 0 0.5em 0.1em;
}
#addMemopalNumber {
    margin: 1em 0 0.5em 0.8em;
    width: 3em;
}
#addMemopalCreateInputs {
    margin: 1em 0 0.5em 0.8em;
    padding: 3px 9px;
}
#addMemopalForm .addMemopalLabel {
    width: 2em;
    float: left;
    margin-left: 1.5em;
}
#memopalsDropdown .memopalList {
    display: block;
    padding: 0.3em 0 0.3em 0.5em;
}
/* First Memory Palace in navigation list */
#memopalsDropdown #__0 {
    padding-top: 0.5em;
}
.activeMemopalList {
    background-color: #3A518A;
    padding-left: 0.5em;
}
.activeMemopalListForm {
    background-color: #3A518A;
    padding-left: 0.2em;
    padding-bottom: 0.8em;
    padding-left: 2em;
}
.activeMemopalListForm > label {
    display: inline-block;
    width: 1em;
    margin-left: 0.2em;
    margin-right: 0.7em;
    font-size: 90%;
}
.activeMemopalListForm > input[type=text] {
    display: inline-block;
    color: #ffffff;
    background-color: transparent;
    border-width: 0px 0px 0px 0px;
    outline: none;
    width: 11.5em;
    font-size: 85%;
}
.activeMemopalListForm > input[type=button] {
    display: block;
    padding: 3px 9px;
    margin: 0.5em auto 0 auto;
}
/* 
    Main section 
*/
#mainSection {
    color: #000000;
    padding-bottom: 0;
    padding-top: 6em;
    width: 100%;
}
#mainSectionDiv {
    max-width: 900px;
    margin: 0 auto;
    padding: 3em 0;
}
#mainSectionDiv > div {
    padding: 1em 0;
    border-bottom: 1px solid #000;
}
#mainSectionDiv > div:last-child {
    border-bottom: none;
}
#mainSectionDiv a {
    display: inline-block;
}
#mainSectionDiv h2 {
    display: inline;
}
.categoryArrow {
    width: 1em;
    height: 1em;
    display: block;
    float: right;
    margin: 1em 1em;
}
.showCategoryCont {
    background: url(../img/blackboard.png) repeat 0 0;
    background-size: 100%;
    display: block;
    min-height: 2em;
    border: 2px solid #7F8385;
    border-radius: 15px;
    -webkit-columns: 25em 2;
    -moz-columns: 25em 2;
    columns: 25em 2;
    padding: 1em 1em;
    color: #fff;
}
#mainSectionDiv ul {
    list-style: none;
    font-size: 130%;
    line-height: 1.4em;
}
#mainSectionDiv li {
    padding-left: 0.5em;
}
#mainSectionDiv .activeLi {
    background: url(../img/tiled-paper.jpg) repeat 0 0;
    border: 1px solid #D6C85C;
    padding: 0.5em 0.5em 0 0.5em;
    color: #000;
    font-weight: bold;
    overflow: hidden;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside:avoid;
    page-break-inside: avoid;
    break-inside: avoid;
}
#mainSectionDiv .activeLi a:hover {
    font-size: 105%;
}
.flashcard {
    font-size: 80%;
    font-weight: normal;
    padding-top: 0.5em;
    padding-bottom: 1em;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside:avoid;
    page-break-inside: avoid;
    break-inside: avoid;
}
.flashcard > span {
    margin-right: 1em;
}
.flashcard select {
    min-width: 5em;
    max-width: 18.5em;
}
.flashcard .placeSelectFlashcard {
    display: block;
    margin-left: 9.9em;
}
.flashcard label {
    display: inline-block;
    width: 5em;
}
.flashcard input[type=text] {
    background-color: transparent;
    font-family: "Dekko", "cursive";
    font-size: 110%;
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-color: darkred;
    outline: 0;
    width: 16em;
}
.flashcard textarea {
    width: 20em;
    background-color: transparent;
    overflow: hidden;
    font-size: 110%;
    padding: 0.3em 0.7em 0 0.7em;
    border-color: darkred;
    border: none;
    font-family: "Dekko", "cursive";
    line-height: 1.4em;
    text-align: justify;
    resize: none;
}
.flashcard textarea:focus {
    outline: none;
}