html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    background-color: #EBEBEB;
}
#wrapper {
    min-height: 100%;
    position: relative;
}
body * {
    font-family: Arial, sans-serif;
    position: relative;
}
header, nav, footer {
    color: #ffffff;
}
a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    font-weight: bold;
}
a:visited {
    color: inherit;
}
h1 {
    font-size: 400%;
}
h2 {
    font-size: 250%;
}
h3 {
    font-size: 120%;
}
header {
    background-color: #3A518A;
    width: 100%;
    height: 4em;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
.headerContent {
    margin: 0 auto;
    width: 100%;
    max-width: 1080px;
}
footer {
    bottom: 0;
    left: 0;
    height: 1em;
    width: 100%;
    position: absolute;
    background-color: #3A518A;
    padding: 1em 0;
    text-align: center;
}
/* header */
#logo {
    font-size: 200%;
    padding: 0.4em;
    float: left;
    text-decoration: none;
}
#headerNav {
    float: right;
    padding: 1.2em 1.2em;
}
#login, #signup {
    font-size: 120%;
    padding: 10px;
}
/* navigation */
#navigation {
    background-color: #5E7FCC;
    width: 100%;
    top: 4em;
    height: auto;
    position: fixed;
    left: 0;
    text-align: center;
    z-index: 100;
}
#navigation .headerContent {
    padding: 0.3em 0;
}
#navigation > div > div {
    display: inline-block;
    width: 10em;
    padding: 0.4em 0;
}
.hideDropDown {
    display: none;
}
.showDropDown {
    display: block;
    background-color: #5E7FCC;
    position: absolute;
    top: 2.2em;
    left: 0;
    min-width: 14.7em; 
    border: 2px solid #000;
    border-top-style: none;
    text-align: left;
    padding: 8px;
}
.showDropDown label, .showDropDown input, select, span {
    margin: 3px 0;
}
.showDropDown label {
    float: left;
    width: 5em;
    margin-bottom: 0;
}
.showDropDown input[type=text] {
    width: 13.1em;
}
.showDropDown textarea {
    width: 19em;
}
#topic {
    font-weight: bold;
    font-style: oblique;
}
#categoryLabel {
    width: 3.5em;
}
#roadmapsBlock {
    min-width: 10em;
}
#addRoadmapBlock {
    top: -2px;
    left: 7.5em;
    border-left-width: 1px;
    min-width: 16.5em;
    padding-right: 0;
}
#roadmapForm {
    margin-right: 0.3em;
    min-height: 60px;
    max-height: 28em;
    overflow: auto;
}
#roadmapLabel {
    width: 3.5em;
}
#roadmapForm span {
    margin: 1em 0 0.5em 0.1em;
}
#number {
    margin: 1em 0 0.5em 0.8em;
    width: 3em;
}
#createInputs {
    margin: 1em 0 0.5em 0.8em;
    padding: 3px 9px;
}
label.roadmapPlaces {
    width: 2em;
    float: left;
    margin-left: 1.5em;
}
input[type=submit], input[type=button] {
    -moz-box-shadow:inset 0px 1px 0px 0px #cf866c;
	-webkit-box-shadow:inset 0px 1px 0px 0px #cf866c;
	box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d0451b), color-stop(1, #bc3315));
	background:-moz-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-webkit-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-o-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-ms-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0451b', endColorstr='#bc3315',GradientType=0);
	background-color:#d0451b;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #942911;
	color:#ffffff;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #854629;
}
input[type=submit]:hover, input[type=button]:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bc3315), color-stop(1, #d0451b));
	background:-moz-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-webkit-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-o-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-ms-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bc3315', endColorstr='#d0451b',GradientType=0);
	background-color:#bc3315;
}
.submit {
    text-align: center;
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 0.3em !important;
}
/* Vocabulary section */
section {
    color: #000000;
    padding-bottom: 0;
}
#vocabulary {
    background-color: #EBEBEB;
    padding-top: 6em;
    width: 100%;
}
#vocabulary > div {
    max-width: 900px;
    margin: 0 auto;
    padding: 3em 0;
}
#vocabulary > div > div {
    padding: 1em 0;
    border-bottom: 1px solid #000;
}
#vocabulary > div > div:last-child {
    border-bottom: none;
}
#vocabulary a {
    display: inline-block;
}
#vocabulary h2 {
    display: inline;
}
.categoryArrow {
    width: 1em;
    height: 1em;
    display: block;
    float: right;
    margin: 1em 1em;
}
.categoryCont {
    background: url(../img/yellow.jpg) repeat 0 0;
    background-size: 100%;
    display: block;
    min-height: 2em;
    border: 2px solid #7F8385;
    border-radius: 15px;
    -webkit-columns: 25em 2;
    -moz-columns: 25em 2;
    columns: 25em 2;
    padding: 1em 1em;
}
.description {
    font-size: 80%;
    margin-left: -0.5em;
    text-indent: 0;
    font-weight: normal;
    padding-top: 0.5em;
    padding-bottom: 0.3em;
}
#vocabulary li#clickedLi {
    background: url(../img/tiled-paper.jpg) repeat 0 0;
    border: 1px solid #D6C85C;
    padding: 0.5em 0.5em 0.5em 1em;
}
#vocabulary ul {
    list-style: none;
    font-size: 130%;
    line-height: 1.4em;
}
#vocabulary li {
    cursor: pointer;
    padding-left: 0.5em;
    text-indent: -0.5em;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
}
#vocabulary li:hover {
    font-weight: bold;
}
#clickedLi label {
    display: inline-block;
    width: 5em;
}
#clickedLi input[type=text] {
    background-color: transparent;
    font-family: "Dekko", "cursive";
    font-size: 110%;
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-color: darkred;
    outline: 0;
    width: 16em;
}
#clickedLi textarea {
    width: 20em;
    background-color: transparent;
    overflow: hidden;
    font-size: 110%;
    padding: 0.3em 0.7em 0 0.7em;
    border-color: darkred;
    border: none;
    font-family: "Dekko", "cursive";
    line-height: 1.4em;
    text-align: justify;
    resize: none;
}
#clickedLi textarea:focus {
    outline: none;
}