header {
    background: #109fd4;
    width: 100%;
    height: 86px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    opacity: 1;
}
#logo {
    font-size: 200%;
    margin: 20px;
    float: left;
    text-decoration: none;
}
#headerNav {
    float: right;
    padding: 30px 20px;
}
#login, #signup {
    font-size: 120%;
    padding: 10px;
}
#menuIcon {
    display: none;
    width: 40px;
    height: 40px;
    background: url(../img/menu-icon.png) center;
}
a:hover#menuIcon {
    border-radius: 4px 4px 0 0;
}
#welcome {
    margin-top: 86px;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
section {
    background: #a9a9a9;
    margin: 0 auto;
    text-align: center;
    width: 70%;
}
div {
    margin: 0 auto;
}
footer {
    text-align: center;
}