body * {
    font-family: Arial, sans-serif;
    position: relative;
}
header {
    background: #109fd4;
    width: 100%;
    height: 4em;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
#navigation {
    background: #81D7F7;
    width: 100%;
    top: 4em;
    height: 2em;
    position: fixed;
    left: 0;
    text-align: center;
    z-index: 100;
}
#navigation > div > div {
    display: inline-block;
    width: 10em;
    padding: 0.4em 0;
}
.headerContent {
    margin: 0 auto;
    width: 100%;
    max-width: 1080px;
}
.hideDropDown {
    display: none;
}
.showDropDown {
    display: block;
    background-color: #81D7F7;
    position: absolute;
    top: 2em;
    left: 0;
    min-width: 14.5em; 
    border: 2px solid #000;
    border-top-style: none;
    text-align: left;
    padding: 8px;
}
.showDropDown label, .showDropDown input, select, span {
    margin: 3px 0;
}
#roadmapLabel {
    width: 3.5em;
}
#number {
    margin: 1em 0 0.5em 0.8em;
    width: 3em;
    
}
#createInputs {
    margin: 1em 0 0.5em 1.1em;
}
#roadmapForm span {
    margin: 1em 0 0.5em 0.1em;
}
.submit {
    text-align: center;
}
.showDropDown label {
    float: left;
    width: 5em;
    margin-bottom: 0;
}
.showDropDown #categoryLabel {
    width: 3.5em;
}
#roadmapsBlock {
    min-width: 10em;
}
#addRoadmapBlock {
    top: -2px;
    left: 7.5em;
    border-left-width: 1px;
    min-width: 16.5em;
    padding-right: 0;
}
label.roadmapPlaces {
    width: 2em;
    float: left;
    margin-left: 1.5em;
}
#roadmapSubmit {
    margin-left: 6.5em;
}
#roadmapForm {
    margin-right: 0.3em;
    min-height: 60px;
    max-height: 28em;
    overflow: auto;
}
#topic {
    font-weight: bold;
    font-style: oblique;
}
#search input {
    height: 1em;
    width: 8em;
}
a {
    text-decoration: none;
    color: #000;
}
a:hover {
    font-weight: bold;
}
a:visited {
    color: inherit;
}
footer {
    background-color: #109fd4;
    padding: 1em 0;
    text-align: center;
}
h1 {
    font-size: 400%;
}
h2 {
    font-size: 250%;
}
h3 {
    font-size: 120%;
}
#logo {
    font-size: 200%;
    padding: 0.4em;
    float: left;
    text-decoration: none;
}
#headerNav {
    float: right;
    padding: 1.2em 1.2em;
}
#login, #signup {
    font-size: 120%;
    padding: 10px;
}
#menuIcon {
    display: none;
    width: 40px;
    height: 40px;
    background: url(../img/menu-icon.png) center;
}
a:hover#menuIcon {
    border-radius: 4px 4px 0 0;
}
#vocabulary {
    background-color: #e0e0e0;
    padding-top: 6em;
    width: 100%;
    min-height: 50.55em;
}
#vocabulary > div {
    max-width: 900px;
    margin: 0 auto;
    padding: 3em 0;
}
#vocabulary > div > div {
    padding: 1em 0;
    border-bottom: 1px solid #000;
}
#vocabulary > div > div:last-child {
    border-bottom: none;
}
#vocabulary h2 {
    display: inline;
}
#vocabulary a {
    display: inline-block;
}
.categoryArrow {
    width: 1em;
    height: 1em;
    display: block;
    float: right;
    margin: 1em 1em;
}