html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    background-color: #EBEBEB;
}
#wrapper {
    min-height: 100%;
    position: relative;
}
body *::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

body *::-webkit-scrollbar
{
	width: 0.4em;
	background-color: #F5F5F5;
}

body *::-webkit-scrollbar-thumb
{
	background-color: darkred;
}
body * {
    font-family: Arial, sans-serif;
    position: relative;
}
header, nav, footer {
    color: #ffffff;
}
a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    font-weight: bold;
}
a:visited {
    color: inherit;
}
h1 {
    font-size: 400%;
}
h2 {
    font-size: 250%;
}
h3 {
    font-size: 120%;
}
header {
    background-color: #3A518A;
    width: 100%;
    height: 4em;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
.headerContent {
    margin: 0 auto;
    width: 100%;
    max-width: 1080px;
}
footer {
    bottom: 0;
    left: 0;
    height: 1em;
    width: 100%;
    position: absolute;
    background-color: #3A518A;
    padding: 1em 0;
    text-align: center;
}
header #logo {
    font-size: 200%;
    padding: 0.4em;
    float: left;
    text-decoration: none;
}
header #headerNav {
    float: right;
    padding: 1.2em 1.2em;
}
header #login, header #signup {
    font-size: 120%;
    padding: 10px;
}
input[type=button] {
    -moz-box-shadow:inset 0px 1px 0px 0px #cf866c;
	-webkit-box-shadow:inset 0px 1px 0px 0px #cf866c;
	box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d0451b), color-stop(1, #bc3315));
	background:-moz-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-webkit-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-o-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-ms-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0451b', endColorstr='#bc3315',GradientType=0);
	background-color:#d0451b;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #942911;
	color:#ffffff;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #854629;
    cursor: pointer;
}
input[type=button]:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bc3315), color-stop(1, #d0451b));
	background:-moz-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-webkit-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-o-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-ms-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bc3315', endColorstr='#d0451b',GradientType=0);
	background-color:#bc3315;
}
.hideDropdown {
    display: none;
}
.submit {
    text-align: center;
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 0.3em !important;
}
.deleteButton {
    position: absolute;
    background: url(../img/trashcans.png) no-repeat 0 0;
    background-size: 200% auto;
    cursor: pointer;
}
.deleteButton:hover {
    background-position: -34px 0;
}